# Password files
*.txt

# Source files
source/*.tar.gz
source/*.tgz

.DS_Store*

# Vs Code section
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Cloudflare DNS-01 API token (certbot)
cloudflare_dns_credentials.ini